# Dependencies
node_modules/

# Build output
release/
dist/
out/
*.zip

# Electron
*.exe
!release/win-unpacked/*.exe

# Logs
*.log
build-output*.txt
build-log*.txt
build_log*.txt
build_out.txt
build-nsis-log.txt
build-error.txt
run-log.txt

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Backup
backup/

# Env
.env
.env.local

# Temporary
*.tmp
*.bak
*.swp
